---
import Link from "./ui/link.astro";
---

<section class="py-16 bg-gray-50 text-center rounded-lg shadow-md mt-12">
  <div class="container mx-auto">
    <h2 class="text-4xl font-bold text-green-700 mb-4">Ready to Transform Your Space?</h2>
    <p class="text-lg mb-6 text-gray-600 max-w-xl mx-auto">
      Contact Walker and Cole Construction today for a free consultation, and let’s bring your vision to life with our expert craftsmanship and dedicated service.
    </p>
    <Link 
      href="/contact" 
      class="bg-green-600 text-white px-8 py-3 rounded-full font-bold inline-block hover:bg-green-700 transition duration-300">
      Get a Free Quote
    </Link>
  </div>
</section>
