---
import { Picture } from "astro:assets";
import heroImage from "assets/construction.svg"; // Ensure this points to an image that represents your construction business
import Link from "@components/ui/link.astro";
---

<main class="grid lg:grid-cols-2 place-items-center pt-16 pb-8 md:pt-12 md:pb-24 bg-background">
  <div class="py-6 md:order-1 hidden md:block max-w-md mx-auto">
    <Picture
      src={heroImage}
      alt="Walker and Cole Construction at work"
      widths={[200, 400, 600]}
      sizes="(max-width: 800px) 100vw, 50vw"
      loading="eager"
      format="avif"
      class="w-full h-auto max-h-[300px]"
    />
  </div>
  <div class="text-center lg:text-left">
    <h1 class="text-4xl lg:text-5xl xl:text-6xl font-bold text-primary lg:tracking-tight xl:tracking-tighter">
      Your One-Stop Solution for Home Services & Construction
    </h1>
    <p class="text-lg mt-4 text-secondary max-w-xl">
      From major construction projects to everyday household tasks, Walker and Cole Construction offers reliable, high-quality services across Santa Barbara County.
    </p>
    <div class="mt-6 flex flex-col sm:flex-row gap-3 justify-center lg:justify-start">
      <Link
        href="contact"
        class="bg-accent1 text-white px-6 py-3 rounded-full font-bold inline-block hover:bg-[#E67300] hover:scale-105 transition duration-300 ease-in-out shadow-lg">
        Get Your Free Quote
      </Link>
      <Link
        href="contact"
        class="bg-primary text-white px-6 py-3 rounded-full font-bold inline-block hover:bg-[#003531] hover:scale-105 transition duration-300 ease-in-out shadow-lg">
        Schedule a Home Service
      </Link>
    </div>
  </div>
</main>