---
import { SEO } from "astro-seo";
import Footer from "@components/footer.astro";
import Navbar from "@components/navbar/navbar.astro";
import "@fontsource-variable/inter/index.css";
import '@fontsource-variable/bricolage-grotesque';

export interface Props {
  title: string;
}

const canonicalURL = new URL(Astro.url.pathname, Astro.site).toString();

const resolvedImageWithDomain = new URL(
  "/opengraph.jpg", // Replace with your actual OpenGraph image path if different
  Astro.site
).toString();

const { title } = Astro.props;

const makeTitle = title
  ? title + " | " + "Walker and Cole Construction"
  : "Walker and Cole Construction - Quality Fencing & Landscaping Services";
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" /> <!-- Update this path if you have a new favicon -->
    <meta name="generator" content={Astro.generator} />

    <!-- <link rel="preload" as="image" href={src} alt="Hero" /> -->
    <SEO
      title={makeTitle}
      description="Walker and Cole Construction offers high-quality contracting, landscaping, and construction services in Santa Barbara County."
      canonical={canonicalURL}
      twitter={{
        creator: "@Walker-ColeConstruction", // Replace with your actual Twitter handle
        site: "@Walker-ColeConstruction",    // Replace with your actual Twitter handle
        card: "summary_large_image",
      }}
      openGraph={{
        basic: {
          url: canonicalURL,
          type: "website",
          title: `Walker and Cole Construction - Quality Contracting & Landscaping Services`,
          image: resolvedImageWithDomain,
        },
        image: {
          alt: "Walker and Cole Construction Homepage Screenshot",
        },
      }}
    />
  </head>
  <body>
    <Navbar />
    <slot />
    <Footer />
    <style is:global>
      /* Improve Page speed */
      /* https://css-tricks.com/almanac/properties/c/content-visibility/ */
      img {
        content-visibility: auto;
      }
    </style>
  </body>
</html>
